<div>
    <app-navbar></app-navbar>
</div>

<div class="wrapper">
    <div class="primer">
        <div class="design1"></div>
        <div class="design2"></div>
        <div class="container">
            <h2>Add your Movie to the list!</h2>
            <div class="devide">
                <div class="firstHalf">
                    <label for="">Title of the movie:</label>
                    <input type="text" [(ngModel)]="this.actual.title">
                    <label for="">Image URL:</label>
                    <input type="text" [(ngModel)]="this.actual.url">
                    <label for="">Description:</label>
                    <textarea cols="30" rows="10" [(ngModel)]="this.actual.description"></textarea>
                </div>
                <div class="secondHalf">
                    <label for="">Rating: <p>{{this.value}}</p></label>
                    <input type="range" min="1" max="10" [(ngModel)]="this.value" [(ngModel)]="this.actual.rating">
                    <label for="">Release Date:</label>
                    <input type="number" min="1900" max="2099" step="1" value="2016" [(ngModel)]="this.actual.release"/>
                    <img src="../../assets/movieTicket.png" alt="ticket">
                </div>
            </div>
            <button type="button" (click)="this.submit(this.actual)">Submit</button>
        </div>
    </div>
</div>
